<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.android.makeyousmile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:name=".ui.activity.OrdersActivity"
            android:label="Orders"></activity>
        <activity android:name=".ui.activity.DonationActivity"
            android:label="Donation"/>
        <activity android:name=".ui.activity.RestaurantActivity"
            android:label="Restaurant"/>
        <activity android:name=".ui.activity.DeliveryBoyActivity"
            android:label="DeliveryBoy"/>
        <activity android:name=".ui.activity.OrganizationActivity"
            android:label="Organization"/>
        <activity
            android:name=".ui.Activities.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.Activities.MainActivity" />

        <activity android:name=".ui.Activities.Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <service
            android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDY49VZ7edqENmoWEubZ8_NmqmXP2LvPZI"/>



    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/image_icon" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/colorAccent" />

    <dist:module dist:instant="true" />




    </application>
</manifest>